{{ form_start(form) }}

<div class="mb-3">
    <label for="{{ form.url.vars.id }}" class="form-label">Url</label>
    {{ form_widget(form.url, {'attr':{'class':'form-control'}}) }}
</div>

<button class="btn btn-info text-white float-start">Salvar</button>
{{ form_end(form) }}
