<form method="post" action="{{ path('app_admin_product_image_delete', {'id': product_image.id, 'productId':product.id}) }}" onsubmit="return confirm('Quer mesmo apagar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_image.id) }}">
    <button class="btn btn-danger text-white ms-3">Delete</button>
</form>
