{% extends 'base.html.twig' %}

{% block title %}Editar manual do produto{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <h4>Editar manual do produto</h4>

    {{ include('admin/product_manual/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary float-start ms-3 text-white" href="{{ path('app_admin_product_manual_index',{'productId':product.id}) }}">voltar</a>

    {{ include('admin/product_manual/_delete_form.html.twig') }}
{% endblock %}
